@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora:400,500,700|Poppins:400,600,700i,800&display=swap');

:root {
  --base-beige: #f7f6ee;
  --primary-blue: #D4E1DA;
  --secondary-blue: #B7CDC2;
  --pale-pink: #e5d5cd;
  --dark-pink: #c0988a;
  --pale-yelloy: #efdb96;
  --dark-green: #2b4c44;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  /* background-image: url("https://i.postimg.cc/Hn8qwqSx/ab1-web.jpg"); */
  background: var(--dark-pink);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}